@charset "utf-8";

* {margin: 0; border: none; padding: 0;}
body, html {width: 100%; height: 100%; overflow: hidden;}
ul, li {list-style: none;}
#main {
    width: 480px;
    height: 100%;
    background: url(../img/bg.jpg) repeat-y;
    margin: 0 auto;
    position: relative;
    #list {
            width: 200px;
            position: absolute;
            left: 140px;
            top: 100px;
                li {
                    width: 198px;
                    height: 70px;
                    border: 1px solid black;
                    background: #f46;
                    color: white;
                    font-size: 30px;
                    font-family: "微软雅黑";
                    text-align: center;
                    line-height: 70px;
                    margin-bottom: 10px;
                    border-radius: 5px;
                    cursor: pointer;
                }
        }
    
}
@mixin f2($w,$h){
    width:$w;
    height:$h;
}
/*加载游戏界面*/
.logo {
    @include f2(428px,104px);
   
    background: url(../img/logo.png) no-repeat;
    position: absolute; 
    left: 26px; top: 20%;
}
.load {
     @include f2(200px,42px);
   
    background: url(../img/loading1.png) no-repeat;
    position: absolute; left: 140px; top: 70%;
}


/*!游戏主界面*/
/*!我的飞机*/
.myplane{
     @include f2(98px,122px);
   
    background: url(../img/me.png) no-repeat;
    position: absolute;
}

/*!子弹*/
.bullet {
     @include f2(7px,18px); width: 7px; height: 18px;
    background: url(../img/bullet.png) no-repeat;
    position: absolute;
}
/*!子弹-die*/
.bullet-die {
    width: 40px; height: 43px;
    background: url(../img/die1.png) no-repeat;
    position: absolute;
}

/*！大型敌机*/
.enemy-large {
    @include f2(165px,256px);
    
    background: url(../img/plane3.png) no-repeat;
    position: absolute;
}
/*！中型敌机*/
.enemy-middle {
    @include f2(70px,92px);
    background: url(../img/plane2.png) no-repeat;
    position: absolute;
}
/*！小型敌机*/
.enemy-small {
    @include f2(59px,36px);
    background: url(../img/plane1.png) no-repeat;
    position: absolute;
}